*{
    padding: 0px; margin: 0;
    font-family: "Convergence", sans-serif;
}
body {
    margin: 0 auto;
    max-width: 500px;
    background-color: black;
}

.mainInput {
    width: 95%;
    margin: 10px auto;
    border-top: 1px dashed rgb(104, 104, 104);
    border-bottom: 1px dashed rgb(104, 104, 104);
    border-radius: 10px;
}

.mainInputA {
    display: block;
    width: 98%;
    text-align: right;
    line-height: 1;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 60px;
    color: white;
    height: 270px;
    position: relative; left: 0.7%;
    transition: top 0.3s, font-size 0.3s;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#price, #RorG{
    padding: 15px 0 15px 15px;
    width: 42%;
    border: none;
    border-radius: 35px;
    font-size: 30px;
    color: black;
    background-color: rgb(83, 209, 244);
    opacity: 0;
    transition: opacity 1s, background-color 0.7s;
}

#price::placeholder, #RorG::placeholder {
    color: black;
}
#price {
    background-color: rgb(2, 253, 2);
}

.buttons {
    display: grid;
    width: 100%;
    position: fixed; bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    place-items: center;
}

@media only screen and (min-width: 410px) {
    body {display: none;}
}

button{
    margin-bottom: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 25px;
    width: 90%; height: 70px;
    border: none; border-radius: 50%;    
}

button:active{
    background-color: white;
    color: black;
}

#fn{
    color: black;
    background-color: rgb(165, 165, 165);
}
#fn:active {
    background-color: white;
}
#opr {
    font-size: 40px;
    color: rgb(210, 247, 242);
    background-color: rgb(240, 157, 2);
}
#opr:active {
    background-color: rgb(254, 200, 99);
    color: black;
}
#equal {
    color: black;
    background-color: rgb(14, 181, 14);
    border-radius: 40px;
    font-size: 35px;
    grid-column: span 2;
}
#equal:active {
    background-color: rgb(2, 253, 2);
}
